footer {
  background-color: #898686;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

footer h3 {
  font-size: 20px;
  font-weight: 400;
}

span {
  display: block;
}
.black {
  background-color: black;
  height: 5px;
}
.yellow {
  background-color: yellow;
  height: 5px;
}
.red {
  background-color: red;
  height: 5px;
}
