header {
  background-color: #898686;
  color: #ffffff;
  text-align: center;
}
header h1 {
  font-size: 35px;
  font-weight: 600;
}

header p {
  font-size: 20px;
  font-weight: 500;
}

span {
  display: block;
}
.black {
  background-color: black;
  height: 5px;
}
.yellow {
  background-color: yellow;
  height: 5px;
}
.red {
  background-color: red;
  height: 5px;
}

@media (max-width: 600px) {
  header {
    padding-top: 20px;
  }
  header h1 {
    font-size: 30px;
  }

  header h3 {
    font-size: 18px;
  }
}
