.container {
  display: flex;
  margin-top: 50px;
  position: relative;
  width: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 50px;
  border: 2px solid black;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
