.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a4343;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* App.css */

.app-container {
  text-align: center;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-button {
  padding: 6px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.details-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.details-list {
  text-align: left;
}

.search-message {
  color: red;
}
