.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a4343;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
